.footer__container {
  background: #00adee;
  overflow: hidden;
}

.footer__block {
  padding-top: 50px;
  padding-bottom: 50px;
}
.flex {
  display: grid;
  grid-template-columns: 100px 1fr 2fr 1fr 100px;
  align-items: center;
}
@media (max-width: 1000px) {
  .flex {
    grid-template-rows: 1fr 20px 1fr 40px 1fr;
    grid-template-columns: 50px 1fr 50px;
  }
}
@media (max-width: 440px) {
  .flex {
    grid-template-columns: 10px 1fr 10px;
  }
}
.footer__item {
  grid-column: 2;
  text-align: center;
}

@media (max-width: 1000px) {
  .footer__item {
    grid-row: 1;
    grid-column: 2;
    text-align: left;
  }
}
.footer__block-nav {
  grid-column: 3;
}
@media (max-width: 1000px) {
  .footer__block-nav {
    grid-row: 5;
    grid-column: 2;
  }
}
.link__footer {
  grid-column: 4;
}
@media (max-width: 1000px) {
  .link__footer {
    grid-row: 3;
    grid-column: 2;
    justify-content: flex-start;
  }
}
.item__link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  position: relative;
}
@media (max-width: 1000px) {
  .item__link {
    margin-left: 30px;
  }
}
.item__link::before {
  content: "";
  width: 23px;
  height: 24px;
  position: absolute;

  background: url("../img/ball-white.svg") no-repeat;
  top: 0px;
  left: -30px;
  color: #fff;
}
.item__link::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  background: url("../img/ballstring-white.svg") no-repeat;
  top: -2px;
  left: -13px;
  color: #fff;
}

.footer__nav {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
}
@media (max-width: 1000px) {
  .footer__nav {
    justify-items: flex-start;
  }
}
.list__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.link__nav {
  display: grid;
  gap: 40px;
  grid-auto-flow: column;
  justify-content: center;
}
@media (max-width: 1000px) {
  .link__nav {
    justify-content: flex-start;
  }
}

.link__list {
  text-decoration: none;
}
