.header {
  background: #f4f6f9;
  height: 665px;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}

@media (max-width: 1200px) {
  .left__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .collumn {
    margin: 0 auto;
  }
}

.title {
  padding: 63px 0 0 191px;
}

@media (max-width: 1200px) {
  .title {
    padding: 0;
    text-align: center;
  }
}
// .title-first {
//   font-size: 24px;
//   line-height: 1.2;
//   color: #5282f0;
//   text-decoration: none;
//   position: relative;
// }
// .title-first::before {
//   content: "";
//   width: 23px;
//   height: 24px;
//   position: absolute;
//   background: url("../img/ball.svg") no-repeat;
//   top: 0px;
//   left: -30px;
// }

// .title-first::after {
//   content: "";
//   width: 8px;
//   height: 8px;
//   position: absolute;
//   background: url("../img/grow.svg") no-repeat;
//   top: -2px;
//   left: -13px;
// }

.header__container {
  margin-top: 133px;
  margin-left: 163px;
  max-width: 563px;
}

@media (max-width: 1200px) {
  .header__container {
    width: auto;
  }
}
@media (max-width: 676px) {
  .header__container {
    margin-left: 0;
  }
}
.header__caption {
  font-size: calc(30px + 6 * (100vw / 1440));
  font-weight: 700;
  line-height: 1.33;
}
@media (max-width: 676px) {
  .header__caption {
    font-size: calc(30px + 6 * (100vw / 1440));
    text-align: center;
  }
}
.header__text {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.44;
  color: #4f4f4f;
  width: 452px;
}
@media (max-width: 676px) {
  .header__text {
    width: auto;
    text-align: center;
    font-size: calc(14px + 4 * (100vw / 1440));
  }
}

// .header__button {
//   margin-top: 50px;
//   display: flex;
// }
// @media (max-width: 676px) {
//   .header__button {
//     justify-content: center;
//   }
// }
// .header__google {
//   margin-left: 36px;
// }
// @media (max-width: 350px) {
//   .header__google {
//     margin-left: 5px;
//   }
// }
// .ios {
//   background: url("../img/AppleStore.svg") no-repeat;
//   width: 157px;
//   height: 47px;
// }
// .google {
//   background: url("../img/GooglePlay.jpg") no-repeat;
//   width: 157px;
//   height: 47px;
// }
// .button {
//   cursor: pointer;
//   border-radius: 7px;
//   font-family: "Roboto", sans-serif;
//   border: 1px solid transparent;
// }
// @media (max-width: 500px) {
//   .google {
//     width: 150px;
//     height: 47px;
//   }
// }
// @media (max-width: 500px) {
//   .ios {
//     width: 150px;
//     height: 47px;
//   }
// }

.container__mob {
  margin: 0;
}
@media (max-width: 1200px) {
  .container__mob {
    display: none;
  }
}
.container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: -5px;
}
