.container__chapter {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1080px) {
  .container__chapter {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1080px) {
  .chapter__block {
    margin: 0 auto;
    margin-bottom: 100px;
  }
}
.chapter__title {
  margin-top: 105px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #333333;
}
@media (max-width: 1080px) {
  .chapter__title {
    text-align: center;
    padding: 20px;
  }
}
.chapter__text {
  margin-top: 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #4f4f4f;
  width: 535px;
}
@media (max-width: 600px) {
  .chapter__text {
    text-align: center;
    width: auto;
    padding: 20px;
  }
}
