.container__second {
  position: relative;
  display: flex;
  justify-content: space-around;

  font-family: sans-serif;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 32px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .container__second {
    flex-direction: column;
  }
}

.second__block-title {
  text-align: center;
}
.second__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  color: #00adee;
  text-decoration: none;
}
.second__title {
  margin-top: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #333333;
}
.second__info {
  margin-top: 30px;
  width: 480px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #4f4f4f;
}
@media (max-width: 550px) {
  .second__info {
    padding: 0 15px;
    width: auto;
  }
}
.second__texttwo {
  padding-top: 15px;
}
.second__link--foot {
  margin-top: 55px;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  color: #00adee;
}
@media (max-width: 1200px) {
  .second__link--foot {
    margin-bottom: 40px;
  }
}
.second__position {
  position: relative;
}

.second__position::before {
  content: "";
  position: absolute;

  background: url("../img/bellforsalah.svg") center center no-repeat;
  top: 10px;
  left: -15px;
  width: 140px;
  height: 130px;
}

.second__position::after {
  content: "";
  position: absolute;
  background: url("../img/iconwithdevice.svg") center center no-repeat;
  bottom: 130px;
  right: -20px;

  width: 115px;
  height: 112px;
}
.second__device {
  margin-right: 25px;
}
.eclipses {
  position: absolute;
  top: -130px;
  right: -250px;
  z-index: -1;
}
