.container {
  position: relative;
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .container {
    flex-direction: column-reverse;
  }
}
.conteiner__indent {
  padding-top: 110px;
}
@media (max-width: 1200px) {
  .conteiner__indent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.cristina {
  object-fit: cover;
  width: 805px;
  height: 600px;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}
@media (max-width: 1200px) {
  .cristina {
    width: 100%;
    height: 600px;
    top: auto;
  }
}

.container__block {
  width: 360px;
  height: 218px;
  position: relative;
  z-index: 2;
  background: #fff;
  border-radius: 4px;
}
@media (max-width: 500px) {
  .container__block {
    width: 250px;
    height: 140px;
  }
}
.container__padd {
  position: relative;
}
.left__block {
  display: flex;
  justify-content: space-between;
}
.right__block {
  margin-top: 50px;
  margin-right: 15px;
}
@media (max-width: 500px) {
  .right__block {
    margin-right: 5px;
  }
}

@media (max-width: 500px) {
  .arsenal {
    width: "49px";
    height: "57px";
  }
}
.chealse {
  margin-left: -15px;
}
@media (max-width: 500px) {
  .chealse {
    width: "56px";
    height: "56px";
  }
}
datetime {
  color: #4f4f4f;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  padding-top: 27px;
  display: block;
  padding-left: 16px;
}
@media (max-width: 500px) {
  datetime {
    font-size: 11px;
  }
}
.block__vs {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  margin-top: 13px;
  padding-left: 16px;
  width: 90px;
}
@media (max-width: 500px) {
  .block__vs {
    font-size: 12px;
    line-height: 16px;
  }
}
.block__match {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  flex-grow: 1;
  padding-left: 16px;
}
@media (max-width: 500px) {
  .block__match {
    font-size: 11px;
    line-height: 14px;
  }
}
.block__footer {
  background-color: #eeeeee;
  width: 100%;
  height: 50px;
  margin-top: 28px;
  display: flex;
}
@media (max-width: 500px) {
  .block__footer {
    width: 250px;
    height: 34px;
    margin-top: 0;
  }
}
.footer__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #4f4f4f;
  padding-left: 15px;
  padding-top: 14px;
}
@media (max-width: 500px) {
  .footer__text {
    font-size: 11px;
    line-height: 14px;
    padding-top: 10px;
  }
}
.btn__switch {
  position: relative;
  cursor: pointer;
  width: 27.29px;
  height: 12.58px;
  border: none;
  background: #979797;
  border-radius: 104.896px;
  margin-left: 40px;
  margin-top: 18px;
}

@media (max-width: 500px) {
  .btn__switch {
    margin-top: 12px;
  }
}
.btn__switch::before {
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50%;
  bottom: -5px;
  left: -5px;
  background: url("../img/Ellipse.svg") center no-repeat;
  position: absolute;
}
.block__img {
  width: 360px;
  height: 218px;
  margin-top: -30px;
  margin-left: 108px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .block__img {
    width: 250px;
    height: 140px;
    margin-top: 0;
  }
}

.container__title {
  margin-right: 275px;
  margin-top: 135px;
}
@media (max-width: 1450px) {
  .container__title {
    margin-right: 100px;
  }
}
@media (max-width: 1200px) {
  .container__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
}
.part__link {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  color: #00adee;
}

.part__title {
  margin-top: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #333333;
}
@media (max-width: 500px) {
  .part__title {
    padding: 0 10px;
    text-align: center;
  }
}
.part__info {
  width: 410px;
  margin-top: 30px;
}
@media (max-width: 500px) {
  .part__info {
    width: auto;
    padding: 0 10px;
    text-align: center;
  }
}
.part__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #4f4f4f;
}
@media (max-width: 500px) {
  .part__text {
    text-align: center;
  }
}

.text__second {
  margin-top: 30px;
}
.part__foot {
  margin-top: 22px;
  margin-bottom: 65px;
}
.link__foot {
  text-decoration: none;
  color: #00adee;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  display: inline-block;
}
