.mobilka {
  position: relative;
}
/* .mobilochka {
  width: 400px;
  height: 470px;
} */
.mob1::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 470px;
  background: url("../../img/mobilka.svg");
  top: -202px;
  left: 119px;
}
.mobilka {
  position: relative;
}
.mob2::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 470px;
  background: url("../../img/mobilka.svg");
  bottom: 380px;
  left: 498px;
}
.mobilka {
  position: relative;
}
.mob3::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 470px;
  background: url("../../img/mobilka.svg");
  top: 213px;
  right: -280px;
}
.mobilka {
  position: relative;
}
.mob4::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 470px;
  background: url("../../img/mobilka.svg");
  top: 213px;
  left: 272px;
}
.mobilka {
  position: relative;
}
.mob5::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 470px;
  background: url("../../img/mobilka.svg");
  top: 213px;
  left: 646px;
}
.mob5 {
  position: relative;
}
.postimg::before {
  content: "";
  position: absolute;
  background: url("../../img/mob5.png") center center no-repeat;
  width: 500px;
  height: 500px;
  top: 179px;
  left: 566px;
}
