@import "../../node_modules/modern-css-reset/dist/reset.min.css";

@import "./parts/_global.scss";
@import "./parts/_header.scss";
@import "./parts/mob.css";
@import "./parts/replay";
@import "./parts/part";
@import "./parts/replay-second";
@import "./parts/commets";
@import "./parts/sponsors";
@import "./parts/last-chapter";
@import "./parts/footer";
